<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true"/>

    <arg name="map_file" default="$(find robot_description)/maps/enclosure_with_obstacles.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">
        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="base_footprint"/>

        <remap from="base_pose_ground_truth" to="odom"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<!-- launch-prefix="gdb -batch -ex run -ex bt -ex 'info locals' \-\-args" -->
        <param name="base_global_planner" value="custom_planner/MJERRTXPlanner" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

  
        <rosparam file="$(find robot_description)/config/costmap_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robot_description)/config/costmap_common.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find robot_description)/config/local_costmap.yaml" command="load" />
        <rosparam file="$(find robot_description)/config/global_costmap.yaml" command="load" />
        <rosparam file="$(find robot_description)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/config/global_planner_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/config/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/config/teb_local_planner_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/config/costmap_converter_params.yaml" command="load" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz/nav.rviz" />

</launch>
